@charset "UTF-8";

* {
    margin: 0;
    padding: O;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background-image: url("../imagens/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url("../imagens/frame-iphone.png");
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 472px;
    width: 268px;
    
}
section#redes-socias{
    text-align: right;
}

section#redes-socias img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.478);
    
}

section#redes-socias img:hover {
    border: 2px solid rgba(255, 255, 255, 0.573);
    transform: translate(-3px, -3px);
    transition: trasnform 0.2s, border 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.626);
}

button{
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.478);
    
    text-align: center;
    font-weight: bolder;
    color: white;
    background-image: url("../imagens/logo-facebook.jpg");
    background-size: cover;
}
button:hover {
    border: 2px solid rgba(255, 255, 255, 0.573);
    transform: translate(-3px, -3px);
    transition: transform 0.2s, border 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.626);
}